Django==1.7.10
bunch==1.0.1
configobj==5.0.6
requests==2.10.0
pytz==2014.9
shortuuid==0.4.0
raven==5.2.0
ecdsa==0.10
pyOpenSSL==0.14
sh==1.10
psycopg2==2.6.1
remote-pdb==1.2.0
boto==2.41.0
APScheduler==3.2.0
bumpversion==0.5.3
gevent==1.0.1
greenlet==0.4.5
pika==0.9.14
psutil==3.3.0
SQLAlchemy==1.1.0b1
jsonfield==0.9.22
-e git+https://github.com/rpalacios/django-sequence-field.git#egg=django_sequence_field-master
dropbox==1.6
django-extensions==1.4.6
pyflakes==0.8.1
django-redis-metrics==1.4.0
PyYAML==3.11
