.navbar-brand, .navbar-brand:hover {
	padding-top: 15px !important;
	color: #50c1e9 !important; /* deepskyblue */
}
.docs-header {
	background-image: url("/static/45degreee_fabric.png");
	color: #999999;
	padding-top: 0px ! important;
}
.topic h3, .topic h4 a, .topic h4, .topic__infos div {
	color: #50c1e9 !important;
}
.btn-centered {
	width:25%; display:block; margin: 0 auto;
}
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
.pull-middle {
	position: relative;
	left: 50%;
}
.pull-header 	{
	bottom: 15px;
	position: relative;
	top: -42px;
	/*left: -12px;*/
}
.subbox {
	border: 1px solid;
	border-color: #aab2bd !important;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
}
.btn > img {
	height: 12px;
}
.btn-more-margin-left {
	margin-left: 5px !important;
}

h4 > img {
	vertical-align: baseline !important;
}
h4 > span.glyphicon {
	color: darkgrey;
}

.ads {
	margin-top: 30px;
}
.topic {
	color: #50c1e9 !important
}

.site-footer {
	margin-top: 20px;
}
div.login-buttons {
	margin-left: 3px;
}
div.table {
	margin-left: 20px;
}
div.running {
	background-color: #6CCEB3;
}
div.running h4 > a  {
	color: white;
}
div.bases p, div.bases button  {
	color: gray;
}
div.rendered {
	background-color: light-grey !important;
	padding: 10px;
}


/* from http://getbootstrap.com/examples/signin/ */
.form-signin {
  max-width: 300px;
  padding: 0px;
  /* Put it left */
  /* margin: 0 auto; */
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.yellow {
	background-color: lightyellow;
}


.center {
	text-align: center;
}
.col-md-2 { width: 18.6667%; }

      /*.buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
                 margin: 20px; background: #eee; padding: 30px; }
      .buttons > div .btn { margin: 5px 10px; }
      .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                         padding-top: 10px; text-align: center; }
        */
      .user-details { text-align: center; font-size: 16px; font-weight: bold; }
      .disconnect-form { padding: 0; margin: 0px 10px; }
      .disconnect-form > a { display: block; margin: 5px 0 !important; }
.padded {
    padding-top: 10px;
}
