Django==1.8.16
bunch==1.0.1
configobj==5.0.6
requests==2.12.1
pytz==2016.7
shortuuid==0.4.3
ecdsa==0.10
pyOpenSSL==16.2.0
sh==1.12.2
psycopg2==2.6.2
remote-pdb==1.2.0
boto==2.41.0
APScheduler==3.3.0

gevent==1.1.2
greenlet==0.4.10
pika==0.10.0
psutil==5.0.0
SQLAlchemy==1.1.4
jsonfield==1.0.3
-e git+https://github.com/rpalacios/django-sequence-field.git#egg=django_sequence_field-master
dropbox==1.6
django-extensions==1.7.5
pyflakes==1.3.0

PyYAML==3.12
python-jose==1.3.2
cryptography==1.6
